@model JornalAberto2019.Models.Categorias

@{
    ViewBag.Title = Resources.Details;
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            @ViewBag.Title
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel-body">
            <div class="table-responsive">
                <div>
                    <h4>@Resources.Categories</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.NomeCategoria)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NomeCategoria)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Menu)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Menu)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.CategoriaID }) |
                    @Html.ActionLink(Resources.Back, "Index")
                </p>
            </div>
        </div>
    </div>
</div>