@model JornalAberto2019.Areas.Admin.Models.UserViewModel

@{
    ViewBag.Title = Resources.Details;
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            @ViewBag.Title
        </h2>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel-body">
            <div class="table-responsive">

                <div>
                    <h4>@Resources.Users</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Pontos)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Pontos)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Foto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Foto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }) |
                    @Html.ActionLink(Resources.Back, "Index")
                </p>
            </div>
        </div>
    </div>
</div>