@model IEnumerable<JornalAberto2019.Models.Noticias>

@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AprovadaPor.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InseridaPor.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNoticia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Corpo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprovada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroVisualizacoes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AprovadaPor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InseridaPor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNoticia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Corpo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprovada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroVisualizacoes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoticiaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoticiaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoticiaID })
        </td>
    </tr>
}

</table>
