@foreach (var noticia in ViewBag.Noticias)
{
<article class="article row-article">
    <div class="article-img">
        <a href="/Noticia/@noticia.NoticiaID">
            <img src="" alt="">
        </a>
    </div>
    <div class="article-body">
        <ul class="article-info">
            @{
                foreach (var categoria in noticia.ListaCategorias)
                {
                    <li class="article-category"><a href="#">@categoria.NomeCategoria</a></li>
                }
            }
        </ul>
        <h3 class="article-title"><a href="#">@noticia.Titulo</a></h3>
        <ul class="article-meta">
            <li><i class="fa fa-clock-o"></i> @noticia.DataNoticia</li>
            <li><i class="fa fa-eye"></i> @noticia.NumeroVisualizacoes</li>
        </ul>
        <p>@noticia.Descricao</p>
    </div>
</article>
}
