@model JornalAberto2019.Models.Noticias

@{
    ViewBag.Title = Resources.Delete;
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            @ViewBag.Title
        </h2>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel-body">
            <div class="table-responsive">

                <h3>@Resources.AreYouSure</h3>
                <div>
                    <h4>@Resources.News</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.AprovadaPor.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AprovadaPor.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.InseridaPor.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.InseridaPor.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DataNoticia)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DataNoticia)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Titulo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Titulo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Corpo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Corpo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Aprovada)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Aprovada)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NumeroVisualizacoes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumeroVisualizacoes)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink(Resources.Back, "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>